<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="company">
	<update id="setLogo" parameterType="model.CompanyCommand">
		update company set com_logo_subject=#{com_logo_subject}, com_logo=#{com_logo_bytes} where no=#{no}
	</update>
	<select id="companyInfo" parameterType="String" resultType="model.CompanyCommand">
		select no, com_name, com_logo com_logo_bytes, com_ceo, com_logo_subject from company where com_ceo=#{com_ceo}
	</select>
</mapper>