<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 	부서종류 가져옴  -->
<mapper namespace="dept">	
	<select id="selectAlldeptType" resultType="model.DepartMentCommand">
		select distinct * from DEPARTMENT order by dept_Type asc
<!-- 		select distinct Dept_Type from depttable order by Dept_Type asc -->
	</select>

<!-- localdb 다른 테이블로 test중 -->
	<insert id="insert_deptType" parameterType="model.DepartMentCommand">
<!-- 		insert into department values (#{Dept_Num},#{Dept_Type}) -->
		insert into DEPARTMENT values(dept_num.NEXTVAL,#{dept_Type})
	</insert>
	
	<select id="deptnum" resultType="model.DepartMentCommand">
		select dept_num from DEPARTMENT where dept_Type=#{dept_Type}
<!-- 		select distinct Dept_Type from depttable order by Dept_Type asc -->
	</select>
	
	
	<delete id="deleteDept" parameterType="int">
		delete from DEPARTMENT where dept_Num=#{dept_Num}
	</delete>
	
	<update id="updateDept" parameterType="model.DepartMentCommand">
		update DEPARTMENT set dept_Type=#{dept_Type} where dept_Num=#{dept_Num}
	</update>
</mapper>