<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 	부서종류 가져옴  -->
<mapper namespace="dept">	
	<select id="listdept" resultType="model.DepterMentCommand">
		select distinct Dept_Type from DEPARTMENT order by Dept_Type asc
<!-- 		select distinct Dept_Type from depttable order by Dept_Type asc -->
	</select>

	<insert id="dept_typeAdd" parameterType="model.DepterMentCommand">
<!-- 		insert into department values (#{Dept_Num},#{Dept_Type}) -->
		insert into depttable values(num.NEXTVAL,#{Dept_Type})
	</insert>
</mapper>