<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="message">
	<insert id="sendmessage" parameterType="model.MessageCommand">
		insert into message(no,content,reg_date,sender,receiver,checked,alarm) 
		values(message_no_seq.nextval,#{content},sysdate,#{sender},#{receiver},default,default)
	</insert>
	<update id="updateRead" parameterType="model.MessageCommand">
		update message set checked='read' where no=#{no}
	</update>
	<update id="updateAlarm" parameterType="model.MessageCommand">
		update message set alarm=1 where no=#{no}
	</update>
	<delete id="deleteMessage" parameterType="int">
		delete from message where no=#{no}
	</delete>
	<select id="selectNewMessageNumber" parameterType="String" resultType="int">
		select count(*) from message where checked='new' and receiver=#{receiver}
	</select>
	<select id="selectNewAlarm" parameterType="String" resultType="model.MessageCommand">
		select * from message where alarm=0 and receiver=#{receiver}
	</select>
	<select id="allMessages" parameterType="java.util.HashMap" resultType="model.MessageCommand">
		select no,content,reg_date,sender,receiver,checked,alarm 
		from (select no,content,reg_date,sender,receiver,checked,alarm,rownum r from message where receiver=#{receiver} 
		order by reg_date desc) where r &lt;= #{start} and r &gt;= #{end}
	</select>
	
<!-- 	<select id="allMessages" parameterMap="String" resultType="model.MessageCommand"> -->
<!-- 		select * from message where receiver=#{receiver} -->
<!-- 	</select> -->

	<select id="selectMessage" parameterType="int" resultType="model.MessageCommand">
		select * from message where no=#{no}
	</select>
	<select id="selectTotalMessageCount" parameterType="String" resultType="int">
		select count(*) from message where receiver=#{receiver}
	</select>
</mapper>