<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="message">
	<insert id="sendmessage" parameterType="model.MessageCommand">
		insert into message(no,content,reg_date,sender,receiver,checked) 
		values(message_no_seq.nextval,#{content},sysdate,#{sender},#{receiver},default)
	</insert>
	<update id="updateRead" parameterType="model.MessageCommand">
		update message set checked='read' where no=#{no}
	</update>
	<delete id="deleteMessage" parameterType="int">
		delete from message where no=#{no}
	</delete>
	<select id="selectNewMessageNumber" parameterType="String" resultType="int">
		select count(*) from message where checked='new' and receiver=#{receiver}
	</select>
	<select id="allMessages" parameterType="java.util.HashMap" resultType="model.MessageCommand">
		select * from (select no,content,reg_date,sender,receiver,checked,rownum r 
		from (select no,content,reg_date,sender,receiver,checked from message where receiver=#{receiver} 
		order by reg_date desc)) where r &gt;= #{start} and r &lt;= #{end}
	</select>
	<select id="selectMessage" parameterType="int" resultType="model.MessageCommand">
		select * from message where no=#{no}
	</select>
	<select id="selectTotalMessageCount" parameterType="String" resultType="int">
		select count(*) from message where receiver=#{receiver}
	</select>
	<select id="searchEmail" parameterType="String" resultType="model.MessageCommand">
		select p.name, email sender, d.dept_Type 
		from PERSONNELCARD p, DEPARTMENT d where p.DEPT_NUM=d.DEPT_NUM and p.name like '%'|| #{search} || '%'
	</select>
</mapper>