<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="P_Card">
	<insert id="insertCard" parameterType="model.PersonnelCommand">
		insert into PersonnelCard
		(email,name,age,hiredate,retiredate,phonenum,retiretype,dept_num,position_num,work_num,authority,randomcode,certify)
		values
		(#{email},#{name},#{age},to_date(#{hiredate}),to_date(#{retiredate}),#{phonenum},#{retiretype},#{dept_num},#{position_num},#{work_num},#{authority},#{randomcode},#{certify})
	</insert>
	<select id="select" resultType="String" parameterType="String">
		select RANDOMCODE from PersonnelCard where email=#{email}
	</select>
	
	<select id="findname" resultType="String" parameterType="String">
		select Name from PersonnelCard where Email=#{Email}
	</select>
	
	
	<update id="Check" parameterType="String">
		update PersonnelCard set CERTIFY='Y' where email=#{email}
	</update>
	<select id="getPC" parameterType="String" resultType="model.PersonnelCommand">
		select * from PersonnelCard where email=#{email}
	</select>
	<update id="upcard" parameterType="model.PersonnelCommand">
		update PersonnelCard set age=#{age},retiredate=to_date(#{retiredate}),phonenum=#{phonenum},retiretype=#{retiretype},dept_num=#{dept_num},position_num=#{position_num},work_num=#{work_num} where email=#{email}
	</update>
</mapper>  