/* @CHARSET "UTF-8"; */
/* °Ô½ÃÆÇ ¸®½ºÆ® CSS */
table.search{
    width:250px;
    margin:0 auto;
}
table{
    width:500px;
    margin:0 auto;
}
th, td{
    padding:5px;
}
.border-style{
    border:1px solid #000;
    border-collapse:collapse;
}
.border-style th, .border-style td{
    border:1px solid #000;
}
.align-right{
    text-align:right;
}
.align-center{
    text-align:center;
}
textarea {
    color:#000000;
    font-family:"°íµñ"; 
    font-size:9pt; line-height:120%;
    background-color: #ffffff; 
    border: 1 solid #999999
}
th { 
    color:#ffffff; 
    font-family:"°íµñ"; 
    font-size:9pt; 
    line-height:170%;
    background-color:#5c9dd1;
}
td { 
    color:#3f3f3f;
    font-family:"°íµñ"; 
    font-size:9pt; 
    line-height:170%;
}
td a { 
    color:#333377; 
    font-family:"°íµñ"; 
    font-size:9pt; 
    line-height:170% ; 
    text-decoration: none;
}
td a:hover { 
    color:#3366cc; 
    font-family:"°íµñ"; 
    font-size:9pt; 
    line-height:170% ; 
    text-decoration: underline;
}
input {
    color:#000000; 
    font-family:"°íµñ"; 
    font-size:9pt; 
    line-height:120%;
    background-color: #ffffff; 
    border: 1 solid #999999
}
.inputb {
    border-bottom: #999999 1px solid; 
    border-left: #cecece 1px solid;
    border-right: #999999 1px solid; 
    border-top: #cecece 1px solid; 
    color: #000000; 
    font-size: 9pt;
    background-color: #ededed;
}
/*±Û¾²±â CSS*/
fieldset {
    width:300px;
    margin:0 auto;
}
fieldset ul{
    list-style:none;
    padding:0;
    margin:2px;
}
fieldset ul li{
    margin:0 0 9px; 0;
    padding0;
}
fieldset input, fieldset textarea{
    width:200px;
}
label{
    font-size:11pt;
    font-family:"°íµñ";
}
span{
    font-size:10pt;
    font-family:"°íµñ";
    color:#f00;
}
.inputb2{
    width:80px;
    border-bottom:#999 1px solid;
    border-left:#cecece 1px solid;
    border-right:#999 1px solid;
    border-top:#cecece 1px solid;
    color:#000;
    font-size:9pt;
    background-color:#ededed;
    font-family:"°íµñ";
    padding:3px 0 5px 0;
}
fieldset div{
    font-size:  10pt;
    font-family: "°íµñ";
    color: #f00;
}

#comment_div{
display:block;
	
	
}

#comment_subject{
	display:inline;
	float: left;
	margin-right: 2px;
	
	width:300px;
	height:55px;
	
}

#comment_submit{
	position:relative;
 	width:55.6px;
	height:55.6px;

	}
	
#comment_list{
	
	
}

